@import './mixins';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
    /* ===== NAVIGATION SITTINGS ==== */

    --header-height: 7rem;

    /* ======= BODY PROPERTIES ====== */

    --body-font: "Open sans", sans-serif;
    --body-color: #0e2431;
    --body-bg-color: #fff;
    --body-line-height: 1.5;

    /* =========== COLORS =========== */

    /* Change favorite color */
    
    --hue-color: 250; //Purple 250 - Green 142 - Blue 230 - Pink 340
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --container-color: #fff;
    --color-white: #ffffff;
    --section-padding: 6rem;
    /* ========= TRANSITION ========= */
    --transition: all .3s ease-in-out;
    --transition-fast: all .2s ease-in-out;
    /* ============= FONT ============ */

    --fz-normal: 12px;
    --fz-small: 11px;
    --fz-smaller: 10px;

    /* ====== FONT MEDIA QUERY ====== */

    @include media(md) {
        --fz-normal: 13px;
        --fz-small: 12px;
        --fz-smaller: 11px;
    }

    @include media(xl) {
        --fz-normal: 14px;
        --fz-small: 13px;
        --fz-smaller: 12px;
    }

    @include media(xxl) {
        --fz-normal: 15px;
        --fz-small: 14px;
        --fz-smaller: 13px;
    }

    /* ========= FONT WEIGHT ======== */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi: 600;
    /* ==== MARGINS AND PADDINGS ==== */
    --m-1: 0.5rem;
    --m-2: 1rem;
    --m-3: 1.5rem;
    --m-4: 2rem;
    --m-5: 2.5rem;
    --m-6: 3rem;
    --m-7: 3.5rem;
    --m-8: 4rem;
    --m-9: 4.5rem;
    --m-10: 5rem;
    /*========== z index ==========*/
    --z-back : -10;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    /* ============= GAP ============ */
    --gap-1: 0.5rem;
    --gap-2: 1rem;
    --gap-3: 1.5rem;
    --gap-4: 2rem;
    --gap-5: 2.5rem;
    --gap-6: 3rem;
    --gap-7: 3.5rem;
    --gap-8: 4rem;
    --gap-9: 4.5rem;
    --gap-10: 5rem;
}