/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
img,
video,
audio,
span,
label,
select,
button,
input,
select,
textarea,
a{ 
  display: inline-block;
}
h1,
h2,
p {
  margin: 0;
}

ul,ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}