@use '../config/vars' as *;
/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    @include px(var(--m-4));
    @include box(900px 100%);
    max-width: 100%;
    @include mx(auto);
}

*>* {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

h1,
h3,
h2,
h4,
h5,
h6 {
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: var(--fw-semi);
}

a {
    text-transform: capitalize;
}

:root {
    --section-font-size: var(--m-5);

    @include media(md) {
        --section-font-size: var(--m-8);
    }
}

.section {
    @include py(var(--section-padding));

    &__header {
        @include mx(auto);
        width: max-content;
        margin-bottom: var(--m-8);
        text-align: center;
    }

    &__title {
        position: relative;
        font-size: var(--section-font-size);
    }

    &__subtitle {
        color: var(--first-color);
        font-size: var(--fz-normal)
    }
}